
body {
	height: 600px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	line-height: 1.715;
	background-color: #fff;
	color: #666;
	overflow-x: hidden;
	max-width: 100%;
}
h2 {
	color: #fff;
	text-align: center;
}
.navbar-default {
    background-color: #6C7A89; 
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: Georgia;
}

.allow{
	margin-top: 50px;
	min-width: 100%;
}
img{
	min-width: 100%;

}

.spacing {
   width: 100%; 
   
	
}
/*.signup-move {
	position: relative;
	top: -15px;
	left: 320px;
}*/
.btn-success {
	background-color: #ff4500;
	border-color: #ff6700;
}

.inforesult {
	position: relative;
	top: 0px;
	left: -380px;
}

h2 #signup-success #signup-error {
	color: white;
}

.bgcolor {
	position: fixed;
    right: 0;
    left: 0;
	width: 1400px;
	background-color: #6C7A89;
	padding: 20px;
	margin: 0;
}
.em{
  margin-left: 200px;
}


@media screen and (max-width: 1000px) { 
   
    .bgcolor{
   	margin-left: -50px;
   	margin-top: 30px;
    } 
    
   .allow{
   	height:400px;
   	min-width: 130%;
   	margin-left: -60px;
   	margin-right: 0px;
   	margin-top: 50px;
   }

   .em{
   	margin-left: -1px;
   }
   .but{
   	margin-left: 0px;
   }
   
   }

@media screen and (max-width: 840px) {
 
    .allow{
   	height:300px;  

   }

   .but {
  position: relative;
  left: -340px;
  top:40px;
}
 
 .em{
  margin-left: 200px;
   margin-top: -30px;
  
 }

  .bgcolor{
    padding-bottom: 70px;

  } 
 }

@media screen and (max-width: 580px) {
    .bgcolor{
    	margin-left:-85px;

    }
    
   .allow{
   	height:230px;
   }

 .but {
  position: relative;
  left: -340px;
  top:40px;
}
 
 .em{
  margin-left: 200px;
   margin-top: -30px;
  
 }

  .bgcolor{
    padding-bottom: 70px;

  } 


}

@media screen and (max-width: 400px) {
    .bgcolor{
    	margin-left:-70px;

    }
    
   .allow{
   	height:180px;
   	min-width: 130%;
   	margin-left: -50px;
   	margin-right: 0px;
   
   }

.but {
  position: relative;
  left: -340px;
  top:40px;
}
 
 .em{
   margin-top: -30px;
   margin-left: 60px;
  
 }

  .bgcolor{
  	padding-bottom: 70px;

  }
  #signup-success, #signup-error{
    font-size: 1em;
  }
 
}


body
	margin: 0px;


}