
body {
	height: 600px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
  max-width: 100%;
	line-height: 1.715;
	background-color: #fff;
	color: #666;
	overflow-x: hidden;
	
}
h2 {
	color: #fff;
	text-align: center;
}
.navbar-default {
    background-color: #6C7A89; 
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-family: Georgia;
}

img{
	min-width: 100%;
}

.spacing {
   width: 100%; 
}

.btn-success {
	background-color: #ff4500;
	border-color: #ff6700;
}

.inforesult {
	position: relative;
	top: 0px;
	left: -380px;
}

h2 #signup-success #signup-error {
	color: white;
}

.bgcolor {
	position: absolute;
  right: 0;
  left: 0;
	width: 100%;
	background-color: #6C7A89;
	padding: 20px 20px 30px 18%;
	margin: 0;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .bgcolor {
    padding-left: 30%;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .signup-move{
      padding-left: 0;
      
    }
    #signup-button {
      display: inline;
      margin-top: 0;
      width: 15%;
    }
    #text-input {
      width: 70%;
      text-align: center;
    }
}

 /* Portrait tablets and small desktops  */
@media (min-width: 768px) and (max-width: 991px) {
  .signup-move{
      padding-left: 0;
    }
    #signup-button {
      display: inline;
      margin-top: 0;
      width: 15%;
    }
    #text-input {
      width: 70%;
      text-align: center;
    }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .signup-move{
      padding-left: 5%;
      margin-bottom: 
    }
    #signup-button {
      display: block;
      margin-top: 10px;
      width: 80%;
    }
    #text-input {
      width: 80%;
      text-align: center;
    }
    .spacing {
      height: 250px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .signup-move{
      padding-left: 5%;
      position: relative;
      top: -20px;
      left: 0;
    }
    #signup-button {
      display: block;
      margin-top: 20px;
      width: 80%;
    }
    #text-input {
      width: 80%;
      text-align: center;
    }
    .spacing {
      height: 250px;
    }

}